/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* base styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}
header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article { padding-bottom: .5em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

/* header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& header img {
		float: left;
		margin: 0 30px;
	}
}

/* Shadow text:style */
.shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0,4);
	font-weight: bold;
}

/* Three-column layout */
main {
	display: flex;
	gap: 2em; /* space between columns */
	margin-top: 1em;
}

/* left column (guest speakers) */
main > aside:first-of-type {
	width: 25%;
}
main > aside:first-of-type h2 {
	color: var(--primary-color);
}
main > aside:first-of-type img {
	margin-bottom: 0.9em;
	width: 100%;
	height: auto;
}

/* center column (main content) */
main > section {
	width: 50%;
}
main > section h1 {
	color: var(--primary-color)
}
article img {
	border: 1px solid var(--dark);
	float: left;
	margin: 0 1em 1em 0;
	width: 40%;
	height: auto;
}

/* right column (event change) */
main > aside:last-of-type {
	width: 25%;
}

/* footer*/
footer {
	background-color: var(--primary-color);
}
footer p {
	text-align: center;
	color: white;
	padding-bottom: 0;
}