/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* base styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}
header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article { padding-bottom: .5em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

/* header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& img {
		float: left;
		margin: 0 30px;
		width: clamp(40px, 15%, 66px);
	}
}

/* Two-column main layout */
main.content-wrapper {
	clear: left;
	display: flex;
	flex-direction: row; /* side-by-side layout */
	align-items: flex-start;
	gap: 1.5em;
}

/* Left column (Our Mission) */
aside.left-column {
	flex: 0 0 25%
}

aside.left-column h2 {
	color: var(--primary-color);
}

/* Right column (Main content) */
section.main-content {
	flex: 1;
}

section.main-content h1 {
	color: var(--primary-color);
}

/* Article image*/
article {
	& img {
		float: left;
		margin: .25em 1em 1em 0;
		border: 1px solid var(--dark);
		width: min(100%, 225px);
	}
}

/* footer */
footer {
	background-color: var(--primary-color);
	& p {
		text-align: center;
		color: white;
		padding-bottom: 0; 
	}
}

/* Navbar */
.navbar {
	background-color: var(--primary-color);
}

.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu > li {
	flex: 1;
	text-align: center;
	position: relative;
}

.menu > li > a {
	display: block;
	padding: 1em;
	color: white;
	text-decoration: none;
}
.menu a:hover,
.menu a:focus {
	font-style: italic;
}
.menu a.current {
	font-weight: bold;
	color: var(--accent-color)
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--primary-color);
	list-style: none;
	min-width: 220px;
}

.submenu li a {
	display: block;
	padding: 0.75em 1em;
	color: white;
	text-decoration: none;
	text-align: left;
}

.menu li:hover .submenu {
	display: block;
}

/* Responsive wrap */
@media (max-width: 600px) {
	.menu {
		flex-direction: column;
	}
}